<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421731095915-96on815in9kd306vhd5tci3s3ifo8qv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421731095915-96on815in9kd306vhd5tci3s3ifo8qv6</string>
	<key>GCM_SENDER_ID</key>
	<string>421731095915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridgelabz.AppyStoreBLZ</string>
	<key>PROJECT_ID</key>
	<string>chatapp-eb8ef</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-eb8ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:421731095915:ios:dd72f71d06ad72d5</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-eb8ef.firebaseio.com</string>
</dict>
</plist>